@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-0: #181b24;
        --color-1: #1a1d2c;
        --color-2: #27ae5f;
        --color-3: #e10098;
        --color-4: #61dafb;
        --font-1: "Poppins", 
        }
}